*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: darkslategrey;
}

.contenedor{
    width: 96%;
    max-width: 1200px;
    overflow: hidden;
   margin: 20px auto;
    
}

header nav a {
    color: deepskyblue;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
     
}

header nav a:hover{
    color: limegreen;
}

.main {
    width: 70%;
    float: left;
    background: #fff;
}

.main .imagen{
    width: 100%;
    max-height: 1200px;
    position: center center;
    overflow: hidden;
    background-position: center center;

}

.main .imagen img{
    width: 100%;
    vertical-align: top;
}


.widget{
    background: #1BE1CF;

}

aside .widget .titulo{
    color: #f2f2f2;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;

}


aside .widget ul a{
    color: blue;
    list-style: none;
    text-align: center;
    text-decoration: none;
}

aside .widget ul a:hover{
    color: whitesmoke;
}

aside{
    width: 30%;
    float: left;
}

aside .widget p{
    text-align: center;
    color: blue;
    font-size: 25x;
    padding-bottom: 1200px;
}

footer{
    width: 70%;
    background: chocolate;
    color: #fff;
}

footer p{
    text-align: center;
    padding-bottom: 20px;
}